*, ::after, ::before {
  box-sizing: border-box;
}

.App {
  display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 960px;
}
.col {
  --columns: 12; 
	--width: 0; 
	flex-basis: calc(var(--width) / var(--columns) * 100%);
}

 body {
  background-color: #2c3840 !important;
  line-height: 1.5;
  margin: 0;
  padding: 1rem;
}
.header {
  --width: 12;
  height: 8rem;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.main{
  width: 100%;
  margin-top: 15%;
}

.l-content {
  --width: 12;
  height: 64rem;
}

.r-content {
  --width: 12;
  height: 64rem;
}

.wrapper {
  margin: 0;
  padding: 0;
}
.inputs-div{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
}
.input{
    width: 40%;
    height: 50px;
    background: #fff;
    border: 1px solid #d3d4d7;
    border-radius: 8px 8px 8px 8px;
    display: inline-block;
    margin: 0 -5rem 0 8rem;
    font-size: 20px;
    color: #36383b;
    padding: 0 20px;
}
.title{
  color: #297be2;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 500;
  line-height: 1;
  margin-top: 15%;
  margin-bottom: 0.5rem;
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.subtitle{
  color: #fefefe;
  text-align: center;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1;
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}


.btn{
    background: #297be2;
    min-width: 25%;
    height: 50px;
    float: right;    
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 4rem 1rem 0;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-transition: background-color .25s ease-out,color .25s ease-out;
    transition: background-color .25s ease-out,color .25s ease-out;
    font-family: inherit;
    font-size: .9rem;
    -webkit-appearance: none;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    color: #fff;
    transition: background 100ms linear;
    text-decoration: none;
    line-height: normal;
    outline: none !important;
    padding: .6em 1em;
}
.fake-a-tag{
  color: #297be2;
}
.fake-a-tag-error{
  color: #bb1b1be8 !important;
  font-style: italic;
}
.fake-a-tag-error::placeholder{ 
  color: #bb1b1be8;
  opacity: 1; 
}
.rss-list {
  gap: 1rem;
  width: 100%;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  margin: 0 0 1.5rem;
  position: relative;
  overflow-x: visible;
  margin: 30px 0 0;
  padding-top: 60px;
  padding-left: 35px;
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.rss-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.rss-card{
  min-width: 190px;
  min-height: 350px;
  box-shadow: -2rem 0 3rem -2rem #000;
  scroll-snap-align: start;
  padding: 1.5rem ;
  border-radius: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  transition: .2s;
  margin: 0;
  clear: both;
  margin-right:-30px;
  position: relative;
  transform: translate(-.5rem,-1rem) rotate(0deg);
}
.rss-card:hover{
  transform: translate(-.5rem,-1rem) rotate(-7deg);
}
.rss-card:hover .rss-card-title{
top:-1px;
width: 100%;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
-webkit-transition: all 700ms ease;
-moz-transition: all 700ms ease;
-ms-transition: all 700ms ease;
-o-transition: all 700ms ease;
transition: all 700ms ease;
}
.rss-card:hover .rss-card-desc, .rss-card:hover .rss-card-btn{
display: block !important;
}
.rss-card-title{
margin-left: -13%;
padding-left: 10px;
width: 100%;
top: 40%;
position: absolute;
font-size: 1.3rem;
-webkit-margin-before: auto;
margin-block-start: auto;
display: grid;
grid-template-columns: 40px 1fr;
gap: .5rem;
align-items: center;
color: #565656;
background: #262626;
line-height: 1.3;
}
.rss-card-title a {
  letter-spacing: -.03rem;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
  font-style: italic;
  text-transform: uppercase;
  color: #fff !important;
}
.rss-card-avatar {
width: 40px;
height: 40px;
background-color: #fff;
border-radius: 50%;
margin-right: .5rem;
}
.rss-card-desc{
display: none;
top: 5%;
position: relative;
height: 6.5em;
line-height: 1.5em;
}
.rss-card-btn{
  display: none !important;
  box-shadow: -6px -6px 10px #0c0e1094, 6px 6px 10px rgb(14 45 66) !important;
  background: #2c3840 !important;
}

#modal {
  display: table;
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

#modal-background {

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: fixed;
  display: table-cell;
  vertical-align: middle;
  background-color: white;
  border-radius: 9px;
}
.notify-card{
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 450px;
  box-shadow: -2rem 0 3rem -2rem #000;
  scroll-snap-align: start;
  padding: 0 .7rem 1.5rem .7rem ;
  font-size: 27px;
  border-radius: 16px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  transition: .2s;
  margin: 0;
  clear: both;
  position: absolute;
  left: 0;
  bottom: 0px;
  margin-left: -117px;
  border-radius: 5px;
  background-color: #e9eff3;
  animation: 1.5s ease-out alternate;
}

.notify-card-title{
  margin-left: -13px;;
  margin-right: -.2em;
  width: 100%;
  position: absolute;
  font-size: 1.3rem;
  -webkit-margin-before: auto;
  margin-block-start: auto;
  display: grid;
  grid-template-columns: 75px 1fr;
  gap: .5rem;
  align-items: center;
  color: #565656;
  background: #297be2eb;
  line-height: 2.3;
  top:-1px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
  }

  .notify-card-title a {
    letter-spacing: -.03rem;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    text-transform: uppercase;
    color: #fff !important;
  }
  .notify-card-avatar {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 19px;
  margin-left: 2rem;
  }
  .notify-card-desc{
    top: 15%;
    position: absolute;
    height: 6.5em;
    padding: 5px;
    line-height: 1.5em;
  }
  .notify-card-body{
    top: 10%;
    position: relative;
  }
  .notify-card-btn,.rss-card-btn{
    text-align: center;
    margin: 2px;
    bottom: 0;
    border-radius: 32px;
    box-shadow: -6px -6px 10px #fbfbfd91, 6px 6px 10px rgb(19 18 18 / 20%);
    line-height: 60px;
    position: absolute;
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    border-radius: 37px!important;
    white-space: nowrap;
    padding: 1rem 1.5rem;
    line-height: 1.4;
    text-align: center;
    transition: .07s;
    text-decoration: none!important;
    background: #eeee;
    color: #297be2eb;

  }
  .btn-left{
    left: 0;
  }
  .btn-right{
    right: 0;
  }
  

.bg-blue{
  fill: #1da1f282;
  animation: move 10s ease-in-out infinite;

}
.bg-white{
  fill: #f1f4f6a9;
  animation: movetoe 10s ease-in-out infinite;

}

.toast-container{
  right: 0;
  top: 0;
  z-index: 1;
}

.toast_svg{
  fill:#fff;
}

.toast {
    text-align:left;
    padding: 21px 0;
    background-color:#fff;
    border-radius:4px;
    max-width: 500px;
    left: 2px;
    bottom: 5px;
    position: fixed;;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);

}

.toast:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-top-left-radius:4px;
    border-bottom-left-radius: 4px;

}

.toast_icon{
  position:absolute;
  top:50%;
  left:22px;
  transform:translateY(-50%);
  width:14px;
  height:14px;
  padding: 7px;
  border-radius:50%;
  display:inline-block;
}

.toast_type {
  color: #3e3e3e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}
.toast_svg_copy{
  position:absolute;
  top:50%;
  left:22px;
  transform:translateY(-50%);
  width:14px;
  height:14px;
  padding: 7px;
  border-radius:50%;
  display:inline-block;
}

.toast_message {
    font-size: 14px;
    margin-top: 0;
  margin-bottom: 0;
    color: #878787;
}

.toast_content{
  padding-left:70px;
  padding-right:60px;
}

.toast_close {
    position: absolute;
    right: 22px;
    top: 50%;
    width: 14px;
    cursor:pointer;
    height: 14px;
    fill:#878787;
    transform: translateY(-50%);
}

.toast-green .toast_icon{
  background-color:#2BDE3F;
}

.toast-green:before{
  background-color:#2BDE3F;
}

.toast-blue .toast_icon{
  background-color:#1D72F3;
}

.toast-blue:before{
  background-color:#1D72F3;
}

.toast-red .toast_icon{
  background-color:#ff1e09;
}

.toast-red:before{
  background-color:#ff1e09;
}

:root {
  --tooltip-text-color: white;
  --tooltip-background-color: black;
  --tooltip-margin: -15px;
  --tooltip-arrow-size: 12px;
}
.Tooltip-Wrapper {
   float: right;
    position: relative;
    display: contents;
    vertical-align: middle;
    margin: 0 4rem 1rem 0;
}
.Tooltip-Tip {
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px;
  color: var(--tooltip-text-color);
  background: var(--tooltip-background-color);
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1;
  z-index: 100;
  white-space: nowrap;
}

.Tooltip-Tip::before {
  content: " ";
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: var(--tooltip-arrow-size);
  margin-left: calc(var(--tooltip-arrow-size) * -1);
}

.Tooltip-Tip.top {
  top: calc(var(--tooltip-margin) * -1);
}
.Tooltip-Tip.top::before {
  top: 100%;
  border-top-color: var(--tooltip-background-color);
}
.Tooltip-Tip.right {
  left: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
.Tooltip-Tip.right::before {
  left: calc(var(--tooltip-arrow-size) * -1);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-right-color: var(--tooltip-background-color);
}
.Tooltip-Tip.bottom {
  margin-top: 4px;
}
.Tooltip-Tip.bottom::before {
  bottom: 100%;
  border-bottom-color: var(--tooltip-background-color);
}
.Tooltip-Tip.left {
  left: auto;
  right: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
.Tooltip-Tip.left::before {
  left: auto;
  right: calc(var(--tooltip-arrow-size) * -2);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-left-color: var(--tooltip-background-color);
}


@media screen and (max-width: 480px) {
  #modal{
    top: 9%;
  }
  .notify-card{
    width: 220px;
    height: 295px;
    font-size: 16px;
    margin-left: -135px;
  }
  .notify-card-title{
    margin-left: -5%;
    padding-left: 0px;
    width: 101%;
    line-height: 0.9;
  }
  .notify-card-body {
    top: 25%;
  }
  .notify-card-btn{
    line-height: 20px;
  }
  .rss-card-title{
    font-size: .8rem;
  }
  .title{
    font-size: 1.875rem;
    font-weight: 200;
  }
  .toast{
    width: 99%;
  }
  .inputs-div{
    padding: 10px;
  }
  .input{
    width: 100%;
  margin: 0;
  margin-bottom: 10px;
  height: 50px;
  }
  .btn{
    width: 100%;
    margin: 0;
  }
  .main{
    margin-top: 45%;
  }
  .Tooltip-Wrapper{
    display: flex;
    position: relative;
    margin: 0;
    float: none;
  
  }
  .Tooltip-Tip::before{
      transform: rotate(-180deg);
      top: 34px;
  }
  .Tooltip-Tip.bottom{
      margin-top: -110px;

  }
  
}
